:root {
  --color-bg: #030303;
  --color-content-bg: #090d11;
  --color-primary: #49abc0;
  --color-primary-dark: #6290be;
  --color-secondary: #965bbc;
  --color-secondary-dark: #7c75bd;
  --color-text: #ffffff;
}