.nav {
  background-color: var(--color-content-bg);
}

.list div{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
}